<footer class="container-fluid text-center">
  <a href="#page-top" class ="page-scroll" title="To Top">
    <span class="hvr-pulse-shrink glyphicon glyphicon-chevron-up"></span>
  </a>
  <h4>Made by K.P. DESIGN</a></h4> 
</footer>